<p id="notice"><%= notice %></p>

<div style="padding-left: 20px; padding-bottom: 10px">
  <h1>Killteams</h1>

  <%= link_to 'New Killteam', new_killteam_path %>
</div>

  <div class="grid">
    <% @killteams.each do |killteam| %>
      <div class="teamcard">
        <div class="flexbox">
          <ul class="no-bullets">
            <li><h4><strong><%= killteam.name %></strong></h4></li>
            <li><%= killteam.description %></li>
            <br>
            <%# <li>Requisition Points: <%= killteam.requisition %></li>
            <%# <li>Asset Cap: <%= killteam.assetcap %></li>
            <li>Base: <%= killteam.base %></li>
            <li>Faction Keyword: <%= killteam.factionkeyword %></li>
            <br>
            <li><%= link_to 'Show', killteam %>
            <%# <% if killteam.user == current_user %>
              <%# <%= link_to 'Edit', edit_killteam_path(killteam) %>
              <%# <%= link_to 'Destroy', killteam, method: :delete, data: { confirm: 'Are you sure?' } %>

            <%# <%end%>
            </li>
          </ul>
        </div>

        <div class="imagecontainer" style="width:300px; height: auto;">
          <% if killteam.images.attached?%>
                <% killteam.images.each do |image| %>
                  <div class="ktframe" style='width: 400px; height: 300px'>
                    <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill%>
                  </div>
                <% end %>
            <% end %>
        </div>
      </div>
    <% end %>
  <div>

<br>
