
<%= simple_form_for(@batrep) do |f| %>


  <div class="form-inputs">
    <%= f.input :title, label: 'Report title' %>
    <%= f.input :report %>


    <%# <%= f.input :killteam_id, label: 'Opposing team', as: :select, collection: [[Killteam.first.name, Killteam.first.id], [Killteam.last.name, Killteam.last.id]] %> %>



  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
