<h1>Battle reports:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team 1</th>
      <th>Team 2</th>

    </tr>
  </thead>

  <tbody>
    <% @batreps.each do |batrep| %>
      <tr>
        <td><%= batrep.title %></td>
        <td><%= batrep.killteam.name %></td>
        <td><%= batrep.versus %></td>

        <%# <td><%= link_to 'Show', batrep </td> %>

        <%# <td><%= link_to 'Destroy', batrep, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
      </tr>
    <% end %>
  </tbody>
</table>
