<h1 style="color: white;">Battle reports:</h1>

<table>
  <thead>
    <tr>
      <th style="color: white;">Name</th>
      <th style="color: white;">Team 1</th>
      <th style="color: white;">Team 2</th>

    </tr>
  </thead>

  <tbody>
    <% @batreps.each do |batrep| %>
      <tr>
        <td><%= batrep.title %></td>
        <td><%= batrep.killteam.name %></td>
        <td><%= batrep.user_id %></td>

        <%# <td><%= link_to 'Show', batrep </td> %>

        <%# <td><%= link_to 'Destroy', batrep, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
      </tr>
    <% end %>
  </tbody>
</table>
