<h1>batrep</h1>


<p>
  <strong>Name:</strong>
  <%= @batrep.title %>
</p>

<p>
  <strong>Report:</strong>
  <%= @batrep.report %>
</p>

<p>
  <strong>Team 1:</strong>
  <%= @batrep.killteam.name %>
</p>

<p>
  <strong>Team 2:</strong>
  <%= @batrep.versus %>
</p>

<%# <%= link_to 'Edit', edit_killteam_path(@killteam) %> |
<%# <%= link_to 'Back', killteams_path %>
