
<%= simple_form_for(@warzone) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="color: white;">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions" style="color: white;">
    <%= f.button :submit %>
  </div>
<% end %>
