<p id="notice"><%= notice %></p>

<h1 style="color: white;">Warzones</h1>

<table style="color: white;">
  <thead>
    <tr style="color: white;">
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% planetSites = []  %>

  <tbody>
    <% @warzones.each do |warzone| %>
      <tr>
        <td><%= warzone.name %></td>
        <td><%= warzone.description %></td>
        <td><%= link_to 'Show', warzone %></td>
        <td><%= link_to 'Edit', edit_warzone_path(warzone) %></td>
        <td><%= link_to 'Destroy', warzone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% planetSites.push warzone %>
    <% end %>
  </tbody>
</table>


<div class="planet">
  <div class="wrap">
    <div class="background"></div>
    <div class="clouds"></div>
  </div>
  <div class="mask"></div>
  <div class="highlight highlight1" >
    <%= link_to planetSites[0].name, planetSites[0] %>
  </div>
  <div class="highlight highlight2" >
    <% if planetSites.length == 2 %>
    <%= link_to planetSites[1].name, planetSites[1]%>
    <% end %>
    <%# <%= else "" %>
  </div>
  <div class="highlight highlight3">
    <% if planetSites.length == 3 %>
    <%= link_to planetSites[2].name, planetSites[2]%>
    <% end %>

  </div>
</div>


<br>

<%= link_to 'New Warzone', new_warzone_path %>
